<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>ManuTrack: Manufacturing Operation Tracker</title>
    </head>
    <body>
        <div id="top-bar">
            <a href=" {% url 'jobs:list of designers' %}"> Designers </a>
            <a href=" {% url 'jobs:list of jobs' %}"> Jobs </a>
            <p>QSDASDASDAS</p>
        </div>

        <div id="content">
            MOBILE MOBILE MOBILE
            {% block content %}
            Content to be overwritten
            {% endblock %}

            {% block footer %}
            Footer to be overwritten
            {% endblock %}
        </div>
    </body>
</html>
